#campos{
	font-family : Segoe UI;
	margin: 0 auto;
	width : 300px;
	background-color : #1E90FF;
	padding : 15px;
	border : 2px solid;
	border-radius: 15px;
	
	}

#label{
	font-size : 8pt;
	float : right;
}		
body{
	font-family : Segoe UI;
	}
	
fieldset{
border-radius:6px 6px 6px 6px;
}

input[type=text]{
    border-radius:3px;
    box-shadow:0 1px 2px #ddd;
    border:1px solid #aaa;
    color:#555555;

}

input[type=submit]{
    font-weight:bold;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    background: #ddd;
    border-radius: 12px;
    text-shadow: 0 1px 0 #fff;
}
input[type=submit]:hover{
	cursor : pointer;
}
.cont_compra {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #c2c2c2) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #c2c2c2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#c2c2c2');
	background-color:#fcfcfc;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #050402;
	display:inline-block;
	color:#121212;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 14px;
	text-decoration:none;
	text-shadow:1px 0px 0px #ffffff;
}.cont_compra:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c2c2c2), color-stop(1, #fcfcfc) );
	background:-moz-linear-gradient( center top, #c2c2c2 5%, #fcfcfc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2', endColorstr='#fcfcfc');
	background-color:#c2c2c2;
}.cont_compra:active {
	position:relative;
	top:1px;
}
