@charset "utf-8";
/* CSS Document */
#menuesq{
	width: 186px;
	padding: 0px;
	margin: 0px;
	margin-left:0px;
}
/*li{
	 
	list-style-type: none;	
	font-family:Segoe "Segoe UI Light", "Segoe UI";
	display:block; 
}
li:hover {
background-color:#09F;
display:block; 
}
li :link{
	text-decoration: none; 
}*/
.img{
	margin-left: 0px;
}